{{ '{%' }} extends 'postorius/base.html' {{ '%}' }}

{{ '{%' }} block additionalcss {{ '%}' }}
        <script defer data-domain="{{ mailman3_web_url }}" src="https://plausible.io/js/script.js"></script>
{{ '{%' }} endblock {{ '%}' }}
